<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-regular fa-snowflake"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav nav-link">
        <a class="nav-link" href="/"><b>Home</b></a>
        <a class="nav-link" href="/listings"><b>ALL Listings</b></a>
        <a class="nav-link" href="/listings/new"><b>Create New Listing</b></a>
      </div>
    </div>
  </div>
</nav>